<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <h1>Editing Clue</h1>

      <%= render 'form' %>

      <%= link_to 'Show', @clue %> |
      <%= link_to 'Back', clues_path %>
    </div>
  </div>
</div>
